.aboutme {
    padding-top: 120px;

    .container {
        display: flex;
    }

    &__pic {
        max-width: 400px;
        width: 100%;
        max-height: 600px;
        height: 100%;
        margin-right: 70px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__subtitle {
        position: relative;
        margin: 5px 0 6px;
        padding-left: 10px;

        @include before_circle;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;

        @include after_line;
    }

    &__info {
        max-width: 570px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 40px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px;
        
        &-item {
            display: flex;
        }

        &-icon {
            position: relative;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: end;

            &-circle {
                position: absolute;
                top: 0;
                left: 0;
                height: 36px;
                width: 36px;
                border-radius: 100%;
                background: $main-color;
                z-index: -1;
            }
        }

        &-text {
            max-width: 200px;
            width: 100%;
        }

        &-title {
            margin-bottom: 6px;
        }

        &-descr {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}