.promo {
    min-height: 100vh;
    position: relative;
    background: url('../../img/blocks/promo/bg.jpg') center/cover no-repeat;
    padding-top: 205px;

    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }

    &__title {
        max-width: 560px;
        margin-top: 10px;
        font-size: 40px;
        line-height: 50px;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 248px;
    }

    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
}