.tools {
    padding-top: 120px;
    
    &__title {
        position: relative;
        margin: 0 auto;
        max-width: 67px;
        width: 100%;

        @include before_circle;

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__subtitle {
        margin: 0 auto;
        max-width: 480px;
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }

    .divider {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px;
        margin-bottom: 120px;

        &-item {
            padding: 25px 30px;
            border: 1px solid #000000;

            &-icon {
                max-width: 65px;
                width: 100%;
                max-height: 65px;
                height: 100%;
                margin-bottom: 20px;
            }

            &-title {
                margin-bottom: 15px;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
            }

            &-descr {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        gap: 29px 45px;

        &-item {
            &-head {
                height: 36px;
                display: flex;
                justify-content: space-between;
                padding: 8px 0 0 13px;
                margin-bottom: 20px;
            }

            &-title {
                position: relative;
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                @include before_circle;

                &:before {
                    top: -8px;
                    left: -13px;
                }
            }

            &-value {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
            }

            &-indicator {
                background-color: $main-color;
                height: 14px;
                border-radius: 4px;
            }
        }
    }
}