@import "base/nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import "base/variables.scss";
@import "base/mixins.scss";

@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/sidepanel.scss";
@import "blocks/promo.scss";

* {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.container {
    width: 1140px;
    margin: 0 auto;
}